* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #308fa0;
  font-family: sans-serif;
  text-align: center;
  margin: 30px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

label {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #308fa0;
  display: block;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
}

input::placeholder {
  font-size: 15px;
}

button {
  letter-spacing:0.5px;
  text-transform: uppercase;
  background-color: #308fa0;
  margin-top: 15px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVMSbPZatDSxUDGrseIyD__T_M1xhTVmuyH8pYGk_awx-pQtJysG6JXj4U7vB36Jp0n9E&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.input-form {
  margin: 0px auto;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.main-block {
  background-color: white;
  height: 350px;
  width: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-box {
  padding-bottom: 25px;
  background-color: white;
  height: auto;
  width: 700px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
}

.result {
  text-align: center;
}

#result {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 25px; */
}

#objectlist {
  padding: 15px;
  margin: auto;
  width: 80%;
  list-style-type: none;
}

.list-item {
  display: flex;
  justify-content:space-between;
  padding: 10px 0;
  margin-top: 15px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  box-sizing: border-box;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  
}

.key {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #308fa0;
  margin-left: 10px;
  margin-right: 50px;
}

.value {
  font-family: sans-serif;
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-right: 10px;
}
